:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

.line {
  height: 4px;
  width: 80px;
  background-color: #fff;
}

.component-padding {
  padding-top: 11rem;
  padding-bottom: 2.5rem;
}

.component-heading {
  font-size: 2.5rem;
  color: rgb(44, 62, 80);
}